<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="/sessions/login" method="POST">
        username:<br>
        <input type="text" name="username" >
        <br>
        password:<br>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Submit">
    </form> 
    <h1><%= (errorMessage) ? errorMessage : null %></h1>
</body>
</html>